[submodule "tiex"]
	path = tiex
	url = git@github.com:Fabsolute/tiex.git
[submodule "seiko"]
	path = seiko
	url = git@github.com:Fabsolute/seiko-elixir.git
[submodule "leex"]
	path = leex
	url = git@github.com:Fabsolute/leex-elixir.git
